workflow/locomoco_n8n_skeleton_workflow.json
{
  "name": "LOCOMOCO 이미지 인덱싱 n8n Skeleton",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-images",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "ddf84683-1947-497f-a2ca-be769d4dc07c",
      "name": "이미지 업로드 웹훅",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { accepted: true, message: '이미지 업로드 요청을 접수했습니다.', requestId: $execution.id, receivedAt: new Date().toISOString() } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "6b301b2b-2e0a-46ce-9f03-2bbc82df56af",
      "name": "접수 완료 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "userId",
              "name": "user_id",
              "value": "={{ $json.user_id || $json.userId || 'anonymous' }}",
              "type": "string"
            },
            {
              "id": "requestId",
              "name": "request_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "requestedAt",
              "name": "requested_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "images",
              "name": "images",
              "value": "={{ $json.images || [] }}",
              "type": "array"
            },
            {
              "id": "imageCount",
              "name": "image_count",
              "value": "={{ Array.isArray($json.images) ? $json.images.length : Object.keys($binary || {}).length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "febffd29-bee5-40b7-9bb0-2d495238ab0a",
      "name": "업로드 요청 정규화",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "count",
              "leftValue": "={{ $json.image_count }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65e06d57-ca4c-4980-92a4-78615cacf0c1",
      "name": "이미지 개수 확인 <= 60",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "rejected",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "image_count_exceeds_60",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "이미지는 최대 60장까지만 업로드할 수 있습니다.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83b8d72d-20c9-4564-b6ae-2236e7b0ef70",
      "name": "이미지 개수 초과 처리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4d68dfce-61ea-4dbf-b723-ec76e0a5d619",
      "name": "이미지 반복 처리",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTAGE_DOCUMENT_PARSE_URL || 'https://api.upstage.ai/v1/document-ai/document-parse' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            },
            {
              "name": "output_formats",
              "value": "['markdown','html']"
            }
          ]
        },
        "options": {}
      },
      "id": "5d4de40e-7412-4dbe-8f79-88a9eb2dfa05",
      "name": "Upstage 문서 파싱",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed_markdown",
              "name": "parsed_markdown",
              "value": "={{ $json.content?.markdown || $json.markdown || $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "layout_blocks",
              "name": "layout_blocks",
              "value": "={{ $json.elements || $json.layout_blocks || [] }}",
              "type": "array"
            },
            {
              "id": "parse_confidence",
              "name": "parse_confidence",
              "value": "={{ $json.confidence || 0.8 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "31c286d5-caaf-4948-b8fd-9c301ee5e269",
      "name": "파싱 결과 매핑",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTAGE_DOCUMENT_CLASSIFY_URL || 'https://api.upstage.ai/v1/document-ai/document-classification' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { text: $json.parsed_markdown, labels: ['assignment','receipt','scholarship','notice','place_link','noise'] } }}",
        "options": {}
      },
      "id": "d938a017-3c41-4172-8987-166954e1c14c",
      "name": "Upstage 문서 유형 분류",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type || $json.label || $json.classification }}",
                    "rightValue": "assignment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "과제"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type || $json.label || $json.classification }}",
                    "rightValue": "receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "영수증"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type || $json.label || $json.classification }}",
                    "rightValue": "scholarship",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "장학금"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type || $json.label || $json.classification }}",
                    "rightValue": "notice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "학사공지"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type || $json.label || $json.classification }}",
                    "rightValue": "place_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "장소/링크"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "386e36e7-ffdb-43e9-ac83-c4108ed2910c",
      "name": "문서 유형별 라우팅",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2080,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXTRACT_FIELDS_URL || 'http://localhost:8000/extract-fields' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ { doc_type: 'assignment', text: $json.parsed_markdown, layout_blocks: $json.layout_blocks } }",
        "options": {}
      },
      "id": "9b817087-2606-424d-8fd6-bbe42911af90",
      "name": "과제 필드 추출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXTRACT_FIELDS_URL || 'http://localhost:8000/extract-fields' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ { doc_type: 'receipt', text: $json.parsed_markdown, layout_blocks: $json.layout_blocks } }",
        "options": {}
      },
      "id": "2a6c3db5-0814-45ce-9242-e642097eb91a",
      "name": "영수증 필드 추출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXTRACT_FIELDS_URL || 'http://localhost:8000/extract-fields' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ { doc_type: 'scholarship', text: $json.parsed_markdown, layout_blocks: $json.layout_blocks } }",
        "options": {}
      },
      "id": "420259d2-2a20-488a-a350-be00f16feab1",
      "name": "장학금 필드 추출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXTRACT_FIELDS_URL || 'http://localhost:8000/extract-fields' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ { doc_type: 'notice', text: $json.parsed_markdown, layout_blocks: $json.layout_blocks } }",
        "options": {}
      },
      "id": "dac4602f-a764-4f59-ba2c-bfc0b6bd257f",
      "name": "학사공지 필드 추출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EXTRACT_FIELDS_URL || 'http://localhost:8000/extract-fields' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={ { doc_type: 'place_link', text: $json.parsed_markdown, layout_blocks: $json.layout_blocks } }",
        "options": {}
      },
      "id": "f80c0a24-b5bc-446f-bcb8-b864323f7a38",
      "name": "장소/링크 필드 추출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc_type",
              "name": "doc_type",
              "value": "noise",
              "type": "string"
            },
            {
              "id": "needs_review",
              "name": "needs_review",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "분석 제외 또는 확인 필요",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "f10b9558-75f0-4f59-82de-235689edff2a",
      "name": "노이즈 표시",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "normalized_date",
              "name": "normalized_date",
              "value": "={{ $json.due_date || $json.payment_date || $json.application_deadline || $json.visit_date || null }}",
              "type": "string"
            },
            {
              "id": "amount",
              "name": "amount",
              "value": "={{ $json.amount || null }}",
              "type": "number"
            },
            {
              "id": "keywords",
              "name": "keywords",
              "value": "={{ $json.keywords || [] }}",
              "type": "array"
            },
            {
              "id": "evidence",
              "name": "evidence",
              "value": "={{ $json.evidence || $json.evidence_sentence || '' }}",
              "type": "string"
            },
            {
              "id": "confidence",
              "name": "confidence",
              "value": "={{ $json.confidence || $json.parse_confidence || 0.7 }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "478d151b-6c99-4b78-b287-167dce7b3830",
      "name": "추출 필드 정규화",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8fca6d9d-744d-4b5d-929c-3c262bdbdc37",
      "name": "신뢰도 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json;\n  const dateValue = j.normalized_date || j.due_date || j.deadline || null;\n  let dDay = null;\n  let riskLevel = 'normal';\n  if (dateValue) {\n    const due = new Date(dateValue);\n    const now = new Date();\n    dDay = Math.ceil((due - now) / (1000 * 60 * 60 * 24));\n    if (dDay <= 1) riskLevel = 'critical';\n    else if (dDay <= 3) riskLevel = 'high';\n    else if (dDay <= 7) riskLevel = 'medium';\n  }\n  j.d_day = dDay;\n  j.risk_level = riskLevel;\n  j.needs_review = j.needs_review || (j.confidence ?? 1) < 0.7;\n  return item;\n});"
      },
      "id": "34c91a36-8eda-44de-a68f-eafb3e81c446",
      "name": "D-Day 및 위험도 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "record",
              "name": "capture_record",
              "value": "={{ { request_id: $json.request_id, user_id: $json.user_id, doc_type: $json.doc_type || $json.document_type || $json.label, fields: $json, d_day: $json.d_day, risk_level: $json.risk_level, needs_review: $json.needs_review, created_at: new Date().toISOString() } }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "006eb793-3e6f-457f-97df-7b08478c1c33",
      "name": "캡처 레코드 생성",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_CAPTURE_RECORD_URL || 'http://localhost:8000/captures' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ $json.capture_record }}",
        "options": {}
      },
      "id": "4cc08bd7-c879-4e0d-bfe6-eed1fd8e308e",
      "name": "캡처 레코드 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "notification_message",
              "value": "={{ `처리 완료: ${$json.capture_record?.doc_type || 'unknown'} / 위험도: ${$json.capture_record?.risk_level || 'normal'} / 검토 필요: ${$json.capture_record?.needs_review ? '예' : '아니오'}` }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "48f6027f-b0fe-4902-abc1-bfde3c66c4ce",
      "name": "알림 메시지 생성",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3900,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL || 'http://localhost:8000/notifications' }}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { text: $json.notification_message, capture_record: $json.capture_record } }}",
        "options": {}
      },
      "id": "e4200139-1085-412d-9710-23e8bc2a7efd",
      "name": "알림 전송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        0
      ]
    }
  ],
  "connections": {
    "이미지 업로드 웹훅": {
      "main": [
        [
          {
            "node": "접수 완료 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "접수 완료 응답": {
      "main": [
        [
          {
            "node": "업로드 요청 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업로드 요청 정규화": {
      "main": [
        [
          {
            "node": "이미지 개수 확인 <= 60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 개수 확인 <= 60": {
      "main": [
        [
          {
            "node": "이미지 반복 처리",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "이미지 개수 초과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 반복 처리": {
      "main": [
        [
          {
            "node": "Upstage 문서 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage 문서 파싱": {
      "main": [
        [
          {
            "node": "파싱 결과 매핑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파싱 결과 매핑": {
      "main": [
        [
          {
            "node": "Upstage 문서 유형 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage 문서 유형 분류": {
      "main": [
        [
          {
            "node": "문서 유형별 라우팅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "문서 유형별 라우팅": {
      "main": [
        [
          {
            "node": "과제 필드 추출",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "영수증 필드 추출",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "장학금 필드 추출",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "학사공지 필드 추출",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "장소/링크 필드 추출",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "노이즈 표시",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "과제 필드 추출": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영수증 필드 추출": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "장학금 필드 추출": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "학사공지 필드 추출": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "장소/링크 필드 추출": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "노이즈 표시": {
      "main": [
        [
          {
            "node": "추출 필드 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "추출 필드 정규화": {
      "main": [
        [
          {
            "node": "신뢰도 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신뢰도 확인": {
      "main": [
        [
          {
            "node": "D-Day 및 위험도 계산",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "D-Day 및 위험도 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D-Day 및 위험도 계산": {
      "main": [
        [
          {
            "node": "캡처 레코드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "캡처 레코드 생성": {
      "main": [
        [
          {
            "node": "캡처 레코드 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "캡처 레코드 저장": {
      "main": [
        [
          {
            "node": "알림 메시지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "알림 메시지 생성": {
      "main": [
        [
          {
            "node": "알림 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-20T00:00:00.000Z",
  "versionId": "6a7fb9ad-ebec-432d-bc75-5821451b4b0c"
}