workflow/locomoco_n8n_skeleton_v2.json
{
  "name": "OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent",
  "nodes": [
    {
      "id": "662eb310-f080-4362-96ba-3089ebd9e3fb",
      "name": "Webhook_Upload_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "6f3a5101-fe6d-42fa-ad35-0cc80827aa97",
      "name": "Explode_Binary_Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return items.flatMap(item=>Object.entries(item.binary||{}).map(([key,data])=>({json:{...item.json,binary_source_key:key,original_name:data.fileName,ext:(data.fileName||'').split('.').pop().toLowerCase(),mime_type:data.mimeType,file_size:Number(data.fileSize||0)},binary:{data}})));"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "db369b47-cf5d-4355-8f87-8808843a78d0",
      "name": "Prepare_Capture_Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "2e3b34e9-364f-4db7-922f-650d9693a569",
              "name": "capture_id",
              "value": "={{$json.capture_id || 'CAP-' + Date.now() + '-' + $itemIndex}}",
              "type": "string"
            },
            {
              "id": "8d31b389-32dc-4799-a014-c8ddecb71460",
              "name": "uploaded_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "2b5b2153-c646-4667-9e12-3cc4bc1f89d2",
      "name": "Validate_File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a21b9f5-fdb2-48ff-a6a1-76b374972cab",
              "leftValue": "={{$json.file_size < 10485760 && /^(jpg|jpeg|png|heic|heif)$/.test($json.ext)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "904f8e26-1456-4bb9-a878-c8658b0a33b2",
      "name": "Switch_Ext",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        960,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01bfd62b-c11e-41b1-87f9-7d61f3617ab4",
                    "leftValue": "={{/^(heic|heif)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "heic/heif"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e0ef0d-b1f1-42a0-bd9d-15bd56af9806",
                    "leftValue": "={{/^(jpg|jpeg|png)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg/png"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "d2800778-f19b-4536-a614-862c4ea05595",
      "name": "Write_Temp_HEIC",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1200,
        -180
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{'/tmp/' + $json.capture_id + '.heic'}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "31eeb07e-0891-4499-a96f-bf88b86878a9",
      "name": "Convert_HEIC",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1440,
        -180
      ],
      "parameters": {
        "command": "heif-convert {{$binary.data.fileName}} /tmp/{{$binary.data.fileName}}.jpg"
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "689b92fc-99a7-495d-be92-3daa32229832",
      "name": "Read_Converted_JPG",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1680,
        -180
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/tmp/{{$binary.data.fileName}}.jpg",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "ffb1e182-d810-472a-b01f-4fc151c7a289",
      "name": "Merge_Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        0
      ],
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "3f06aa84-d906-4f64-b8ff-c22ecd46844d",
      "name": "Split_In_Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2160,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "4c51173e-a1ca-4422-a8c3-a1297f343128",
      "name": "Save_Source_Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2400,
        0
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{'/static/captures/' + $json.capture_id + '.' + (($json.ext==='heic'||$json.ext==='heif')?'jpg':$json.ext)}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "6c15c257-ff7c-4892-ab17-d9b7fe7934a1",
      "name": "Compute_Capture_Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto=require('crypto');return items.map(i=>{i.json.capture_hash=crypto.createHash('sha256').update(JSON.stringify(i.binary?.data||i.json)).digest('hex');return i;});"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "ed0825e3-e37e-43f8-8dc0-8fe60783bf4c",
      "name": "Lookup_Cache_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2880,
        0
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "={{'/data/odiduji_index/' + $json.capture_hash + '.json'}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "acaa08c6-cf3d-4769-8852-026936edb160",
      "name": "If_Cache_Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccec15ac-9a91-4ab7-8a66-8ea9d63f6505",
              "leftValue": "={{!!$binary.data || !!$json.cached_record}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "53f83836-1887-4a7b-a5df-83b67c503f6c",
      "name": "Use_Cache_Record",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3360,
        -180
      ],
      "parameters": {
        "operation": "json",
        "binaryPropertyName": "data",
        "options": {
          "keepSource": true
        }
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "3770df90-cd61-434d-be02-9c18a6b846a6",
      "name": "Upstage_Document_Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_PARSE_URL || '[https://api.upstage.ai/v1/document-ai/document-parse'}}",
        "sendHeaders](https://api.upstage.ai/v1/document-ai/document-parse'}}%22,%22sendHeaders)": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "responseFormat": "json",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "4d8aa213-1361-4c60-9f49-52ed2c0f796f",
      "name": "Check_Parse_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b7b7616-485f-4193-903b-a3e2ea64c55c",
              "leftValue": "={{!!$json.error || Number($json.parse_confidence ?? 1) < 0.45}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "b50ed2e8-2ce3-4e9f-b435-542d1560dee2",
      "name": "Upstage_Document_Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_CLASSIFY_URL || '[https://api.upstage.ai/v1/document-ai/document-classify'}}",
        "sendHeaders](https://api.upstage.ai/v1/document-ai/document-classify'}}%22,%22sendHeaders)": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,taxonomy:['notice','assignment','scholarship','receipt','place_link','noise']})}}",
        "responseFormat": "json",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "21a534be-d475-4b67-bfeb-3711df1e3eb2",
      "name": "Check_Classify_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4080,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6f580f-988a-4dec-8513-e8f0f63d4484",
              "leftValue": "={{!!$json.error || !($json.doc_type || $json.category)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "b074801a-9fed-43a1-9f7d-6485506be10e",
      "name": "Guard_DocType_Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const t=($json.parsed_markdown||'');let d=$json.doc_type||$json.category||'noise';if(/과제|LMS|제출/.test(t))d='assignment';if(/영수증|결제|금액/.test(t))d='receipt';if(/장학|성적증명서/.test(t))d='scholarship';return[{json:{...$json,doc_type:d,needs_review:!!$json.needs_review},binary:$binary}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "531e59c5-8f5e-42d1-9821-4780ce5de41d",
      "name": "Switch_Doc_Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4560,
        0
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9040c30a-09ea-452c-8226-ecd12f369587",
                    "leftValue": "={{$json.doc_type==='assignment'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assignment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9e60a-305e-4f54-aea1-c49be1e61dd4",
                    "leftValue": "={{$json.doc_type==='receipt'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "receipt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e2dfc4f-68ab-4202-b36d-b4f13ce306c7",
                    "leftValue": "={{$json.doc_type==='scholarship'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scholarship"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb33138-b0fe-4c73-a261-f311be4beae3",
                    "leftValue": "={{$json.doc_type==='notice'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f6685bc-63c1-436c-a374-ce8a247482eb",
                    "leftValue": "={{$json.doc_type==='place_link'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "place_link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "816e49ad-f8e7-46e3-9253-ccc954d63cba",
                    "leftValue": "={{$json.doc_type==='noise'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noise"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "ceea8ae8-d808-459b-9df8-24b7976912b8",
      "name": "Build_Extract_Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4800,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "fa2ca210-9fa9-4abd-a6b5-5dddd28816a8",
              "name": "extract_schema_id",
              "value": "={{$json.doc_type}}",
              "type": "string"
            },
            {
              "id": "5c0993de-942b-4417-87a6-ddb7acbc9b15",
              "name": "require_evidence_text",
              "value": "={{true}}",
              "type": "boolean"
            },
            {
              "id": "60bce4ed-2c92-43ce-a27e-0a3e9894232a",
              "name": "schema_json",
              "value": "={{({assignment:['course','deadline','required_submission','action_items','evidence_text'],receipt:['amount','merchant','payment_date','evidence_text'],scholarship:['institution','date_range','required_submission','deadline','evidence_text'],notice:['deadline','institution','action_items','evidence_text'],place_link:['address','url','date_range','evidence_text']})[$json.doc_type]}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "c61e7dab-ea21-41ff-81f3-d200cf0c7f0b",
      "name": "Build_Noise_Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4800,
        360
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "9a7187cd-4241-41e5-a188-aed0de87f04f",
              "name": "capture_record",
              "value": "={{Object.assign({},$json,{doc_type:'noise',needs_review:true,no_answer:true})}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "bf75e8da-999d-43a5-a545-80dcba5ec058",
      "name": "Upstage_Information_Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_IE_URL || '[https://api.upstage.ai/v1/information-extraction'}}",
        "sendHeaders](https://api.upstage.ai/v1/information-extraction'}}%22,%22sendHeaders)": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,layout_blocks:$json.layout_blocks||[],extract_schema_id:$json.extract_schema_id,schema_json:$json.schema_json,require_evidence_text:true})}}",
        "responseFormat": "json",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "1f5a3dad-e008-49c6-a929-b06767bc377d",
      "name": "Check_Extract_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5280,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc744760-3067-4d20-baa0-4554dd2cb92c",
              "leftValue": "={{!!$json.error || Number($json.extract_confidence ?? 1) < 0.4}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "0593030e-fd30-45c1-a5c7-061dbae14571",
      "name": "Normalize_Validate_Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{...$json,capture_record:{...$json,deadline:$json.deadline||null,amount:$json.amount||null,evidence_text:$json.evidence_text||null,needs_review:!!$json.needs_review}},binary:$binary}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "7fdc0523-ace4-4675-9760-3c376b067989",
      "name": "Build_Risk_Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r=$json.capture_record||$json;return[{json:{...$json,risk_card:{capture_id:r.capture_id,title:r.title||r.doc_type,doc_type:r.doc_type,deadline:r.deadline,amount:r.amount,required_submission:r.required_submission||[],source_image_path:r.source_image_path,evidence_text:r.evidence_text,needs_review:!!r.needs_review}}}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "6c6a1aff-b1d2-41bb-b7c0-3cd48679297f",
      "name": "Convert_Record_To_File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        6000,
        0
      ],
      "parameters": {
        "operation": "toJson",
        "sourceProperty": "capture_record",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "={{$json.capture_hash + '.json'}}"
        }
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "1d0ae33e-41c5-4bfa-a549-d68fb660a18c",
      "name": "Store_Capture_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        6240,
        0
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{'/data/odiduji_index/' + $json.capture_hash + '.json'}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "a4819f4e-ba26-4237-b3ac-df32d4f5cd2f",
      "name": "Finalize_Index_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        -240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const risk_cards=items.map(i=>i.json.risk_card||i.json.capture_record||i.json);return[{json:{response:{status:'success',indexed_count:risk_cards.length,risk_cards}}}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "03d0be03-7ab8-477e-b002-9ad75a8efe79",
      "name": "Webhook_Query_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/query",
        "responseMode": "responseNode",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "6f776365-31d2-42e9-982f-d072dbb151b5",
      "name": "Validate_Query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efaf10da-17ce-49a3-a9f8-f1705d8023d3",
              "leftValue": "={{String($json.raw_query || $json.body?.raw_query || '').length >= 2}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "ffe41d1f-d185-49b7-92d3-50f3e4efcbb9",
      "name": "Read_Index_Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        900
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/odiduji_index/*.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "8786cc36-8336-4f59-a98f-4f78efccce4f",
      "name": "Extract_Index_JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        900
      ],
      "parameters": {
        "operation": "json",
        "binaryPropertyName": "data",
        "options": {
          "keepSource": true
        }
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "id": "9b861d21-a73b-4445-b363-d6c82891e2e7",
      "name": "Solar_Query_Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        900
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || '[https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders](https://api.upstage.ai/v1/chat/completions'}}%22,%22sendHeaders)": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({mode:'query_planner',raw_query:$json.raw_query || $json.body?.raw_query,allow_free_generation:false})}}",
        "responseFormat": "json",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "8be7ddc6-5c3c-4aa6-9b96-a5e01e19d998",
      "name": "Check_QueryPlanner_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ef4c11-b6a9-4517-bb81-ad4cd1bdbb29",
              "leftValue": "={{!!$json.error || !($json.query_intent || $json.query_plan?.query_intent)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "e28f5651-e65e-41cc-ac6c-2c9dd46c28ad",
      "name": "Search_Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        900
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates=items.map(i=>i.json.capture_record||i.json).filter(r=>r.evidence_text).slice(0,3);return[{json:{...$json,candidate_results:candidates}}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "59c4ffa9-243d-45a2-81cb-52d210b5a5de",
      "name": "If_Candidates_Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d7f462-a7af-421e-91ea-04f40949c1f2",
              "leftValue": "={{($json.candidate_results||[]).length > 0 && ($json.candidate_results||[]).some(c=>!!c.evidence_text)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "5f416248-424d-4870-8e6e-bf85df94091f",
      "name": "Build_No_Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        1080
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "16ce0adb-8c08-41ad-a4bc-785b1f9e791d",
              "name": "response",
              "value": "={{ {status:'no_answer',message:'확인된 근거 문장이 없어 답변하지 않습니다.',cards:[]} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "9bc18815-ee47-48ec-9b74-9a93d84e5bf8",
      "name": "Solar_Evidence_Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        900
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || '[https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders](https://api.upstage.ai/v1/chat/completions'}}%22,%22sendHeaders)": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({mode:'evidence_bound_answer',candidates:$json.candidate_results,allow_free_generation:false,no_answer_if_missing:true,require_evidence_text:true})}}",
        "responseFormat": "json",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "cf13f279-c6fc-41de-9a6c-7652f20ce6d3",
      "name": "Check_Answer_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fca73e88-f655-41b0-be22-b38bbb2cef92",
              "leftValue": "={{!!$json.error || !(($json.cited_fields||[]).length || ($json.citations||[]).length)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "47e91955-571e-4c85-8ded-2ea95b8f3e2c",
      "name": "Build_Result_Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        900
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{response:{status:'success',answer:$json.answer||$json.text||null,cards:$json.candidate_results||[],no_answer:false}}}];"
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "760adb84-93bc-488c-9b9b-097a1e407c0b",
      "name": "Respond_Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        7680,
        240
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{$json.response || $json}}",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "3f8f8f01-e4cb-4ca2-a6f3-134a9a6ee3a6",
      "name": "Build_Error_Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7200,
        600
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d9b8bcb2-6051-478c-9f03-4e5c26287356",
              "name": "responseCode",
              "value": "={{$json.responseCode || ($json.error ? 500 : 400)}}",
              "type": "number"
            },
            {
              "id": "a37215c5-8a95-49f5-9ac7-e49bfc087e95",
              "name": "error_response",
              "value": "={{ {status:'error',error_code:$json.error_code || $json.validation_error || 'WORKFLOW_ERROR',message:$json.message || $json.error?.message || '요청 처리 중 오류가 발생했습니다.',recovery_action:'원본 캡처 확인 또는 재업로드'} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    },
    {
      "id": "490a89b4-ca2d-46df-b59b-fc346931b169",
      "name": "Respond_Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        7440,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{$json.responseCode || 400}}",
        "responseBody": "={{$json.error_response || $json}}",
        "options": {}
      },
      "credentials": {},
      "continueOnFail": false,
      "retryOnFail": false
    }
  ],
  "connections": {
    "Webhook_Upload_Trigger": {
      "main": [
        [
          {
            "node": "Explode_Binary_Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode_Binary_Files": {
      "main": [
        [
          {
            "node": "Prepare_Capture_Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Capture_Metadata": {
      "main": [
        [
          {
            "node": "Validate_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_File": {
      "main": [
        [
          {
            "node": "Switch_Ext",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Ext": {
      "main": [
        [
          {
            "node": "Write_Temp_HEIC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write_Temp_HEIC": {
      "main": [
        [
          {
            "node": "Convert_HEIC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert_HEIC": {
      "main": [
        [
          {
            "node": "Read_Converted_JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_Converted_JPG": {
      "main": [
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Images": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_In_Batches": {
      "main": [
        [
          {
            "node": "Save_Source_Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize_Index_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Source_Image": {
      "main": [
        [
          {
            "node": "Compute_Capture_Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute_Capture_Hash": {
      "main": [
        [
          {
            "node": "Lookup_Cache_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_Cache_Record": {
      "main": [
        [
          {
            "node": "If_Cache_Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Cache_Hit": {
      "main": [
        [
          {
            "node": "Use_Cache_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use_Cache_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Parse": {
      "main": [
        [
          {
            "node": "Check_Parse_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Parse_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Classify": {
      "main": [
        [
          {
            "node": "Check_Classify_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Classify_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard_DocType_Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard_DocType_Keywords": {
      "main": [
        [
          {
            "node": "Switch_Doc_Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Doc_Type": {
      "main": [
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Extract_Request": {
      "main": [
        [
          {
            "node": "Upstage_Information_Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Noise_Record": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Information_Extract": {
      "main": [
        [
          {
            "node": "Check_Extract_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Extract_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Validate_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Validate_Fields": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Risk_Card": {
      "main": [
        [
          {
            "node": "Convert_Record_To_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert_Record_To_File": {
      "main": [
        [
          {
            "node": "Store_Capture_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store_Capture_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize_Index_Response": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Query_Trigger": {
      "main": [
        [
          {
            "node": "Validate_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_Query": {
      "main": [
        [
          {
            "node": "Read_Index_Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_Index_Files": {
      "main": [
        [
          {
            "node": "Extract_Index_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Index_JSON": {
      "main": [
        [
          {
            "node": "Solar_Query_Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Query_Planner": {
      "main": [
        [
          {
            "node": "Check_QueryPlanner_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_QueryPlanner_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search_Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_Candidates": {
      "main": [
        [
          {
            "node": "If_Candidates_Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Candidates_Exist": {
      "main": [
        [
          {
            "node": "Solar_Evidence_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_No_Answer": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Evidence_Answer": {
      "main": [
        [
          {
            "node": "Check_Answer_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Answer_Error": {
      "main": [
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Result_Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Result_Cards": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Error_Response": {
      "main": [
        [
          {
            "node": "Respond_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "pinData": {}
}
