workflow/Odi-Duji_patched_workflow(8).json
{
  "name": "OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a52a24a8-7224-44cb-a01c-2baa16d42494",
      "name": "Webhook_Upload_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        240
      ],
      "retryOnFail": false,
      "webhookId": "27cb8744-c1df-486f-ba4d-ed36cbaebd51"
    },
    {
      "parameters": {
        "jsCode": "return items.flatMap(item=>Object.entries(item.binary||{}).map(([key,data])=>({json:{...item.json,binary_source_key:key,original_name:data.fileName,ext:(data.fileName||'').split('.').pop().toLowerCase(),mime_type:data.mimeType,file_size:Number(data.fileSize||0)},binary:{data}})));"
      },
      "id": "ca97558b-e5a3-4402-91fd-141bf2deee1d",
      "name": "Explode_Binary_Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6240,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e3b34e9-364f-4db7-922f-650d9693a569",
              "name": "capture_id",
              "value": "={{$json.capture_id || 'CAP-' + Date.now() + '-' + $itemIndex}}",
              "type": "string"
            },
            {
              "id": "8d31b389-32dc-4799-a014-c8ddecb71460",
              "name": "uploaded_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98fd8540-1bec-4ede-9b7d-1029e03c3816",
      "name": "Prepare_Capture_Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6000,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a21b9f5-fdb2-48ff-a6a1-76b374972cab",
              "leftValue": "={{$json.file_size < 10485760 && /^(jpg|jpeg|png|heic|heif|webp|bmp|tiff)$/.test($json.ext)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a32d909a-3c1a-4669-9706-a815b30f18ea",
      "name": "Validate_File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5760,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01bfd62b-c11e-41b1-87f9-7d61f3617ab4",
                    "leftValue": "={{/^(heic|heif)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "heic/heif"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e0ef0d-b1f1-42a0-bd9d-15bd56af9806",
                    "leftValue": "={{/^(jpg|jpeg|png|webp|bmp|tiff)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg/png"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4f89f0d1-e455-4775-b997-0bbd971d4d4f",
      "name": "Switch_Ext",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5520,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {},
      "id": "e50d914e-078f-427f-809a-fa675a301ead",
      "name": "Merge_Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4560,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "ad48bbf0-91bb-4ed7-837e-c8ef2c79d829",
      "name": "Split_In_Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4320,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{'C:/Users/dietj/Desktop/n8n_해커톤/Odi-Duji/static/captures/' + $json.capture_id + '.' + (($json.ext==='heic'||$json.ext==='heif')?'jpg':$json.ext)}}",
        "options": {}
      },
      "id": "f918c760-5cc9-4a61-a9db-4641ae32997f",
      "name": "Save_Source_Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4080,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sip-001",
              "name": "source_image_path",
              "value": "={{'./static/captures/' + $json.capture_id + '.' + (($json.ext==='heic'||$json.ext==='heif')?'jpg':$json.ext)}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Set_Source_Image_Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -3960,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto=require('crypto');return items.map(i=>{i.json.capture_hash=crypto.createHash('sha256').update(JSON.stringify(i.binary?.data||i.json)).digest('hex');return i;});"
      },
      "id": "179e505c-dd71-4df6-a846-312e45d4dc4f",
      "name": "Compute_Capture_Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "fileSelector": "={{'C:/Users/dietj/Desktop/n8n_해커톤/Odi-Duji/data/data/odiduji_index/' + $json.capture_hash + '.json'}}",
        "options": {}
      },
      "id": "2fd44a2a-aff8-452a-99cd-69d730a6d8e1",
      "name": "Lookup_Cache_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3600,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccec15ac-9a91-4ab7-8a66-8ea9d63f6505",
              "leftValue": "={{!!$json.cached_record}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ff1e16b-8742-4e77-918e-60cbcc7ab0f3",
      "name": "If_Cache_Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3360,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "json"
      },
      "id": "3cc5ad1d-3324-4914-8146-ac36a6909ef3",
      "name": "Use_Cache_Record",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3120,
        64
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_PARSE_URL || 'https://api.upstage.ai/v1/document-ai/document-parse'}}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        }
      },
      "id": "85f94725-85a2-4bf3-b969-229bb7489535",
      "name": "Upstage_Document_Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Upstage Document Parse 실제 응답: { content: { markdown, html }, elements: [...] }\nconst content = $json.content || {};\nconst parsed_markdown = content.markdown || content.html || '';\nconst layout_blocks   = $json.elements || [];\n// parse_confidence: Upstage API 응답에 confidence 필드 없음 → 마크다운 길이 기반 대체\nconst parse_confidence = (parsed_markdown.length > 100) ? 1.0\n  : (parsed_markdown.length > 20) ? 0.6 : 0.2;\nreturn [{ json: { ...$json, parsed_markdown, layout_blocks, parse_confidence }, binary: $binary }];"
      },
      "id": "map-parse-response-0001",
      "name": "Map_Parse_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b7b7616-485f-4193-903b-a3e2ea64c55c",
              "leftValue": "={{!!$json.error || Number($json.parse_confidence ?? 1) < 0.45}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e15ef87-78c8-4374-b385-fdf3b0ef8fb4",
      "name": "Check_Parse_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2880,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_CLASSIFY_URL || 'https://api.upstage.ai/v1/document-ai/document-classify'}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,taxonomy:['notice','assignment','scholarship','receipt','place','noise']})}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        }
      },
      "id": "624fe194-3234-4e41-a121-b84c1cca7ac1",
      "name": "Upstage_Document_Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6f580f-988a-4dec-8513-e8f0f63d4484",
              "leftValue": "={{!!$json.error || !($json.doc_type || $json.category)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebaca35a-2dff-4d8d-addb-b1e58a0b4b73",
      "name": "Check_Classify_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2400,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const t=($json.parsed_markdown||'');let d=$json.doc_type||$json.category||'noise';if(/과제|LMS|제출/.test(t))d='assignment';if(/영수증|결제|금액/.test(t))d='receipt';if(/장학|성적증명서/.test(t))d='scholarship';if(/지도|카카오맵|네이버지도|주소|위치/.test(t))d='place';return[{json:{...$json,doc_type:d,needs_review:!!$json.needs_review},binary:$binary}];"
      },
      "id": "6e6e2889-78d1-4d3b-a37e-581f9a4016da",
      "name": "Guard_DocType_Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9040c30a-09ea-452c-8226-ecd12f369587",
                    "leftValue": "={{$json.doc_type==='assignment'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assignment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9e60a-305e-4f54-aea1-c49be1e61dd4",
                    "leftValue": "={{$json.doc_type==='receipt'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "receipt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e2dfc4f-68ab-4202-b36d-b4f13ce306c7",
                    "leftValue": "={{$json.doc_type==='scholarship'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scholarship"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb33138-b0fe-4c73-a261-f311be4beae3",
                    "leftValue": "={{$json.doc_type==='notice'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f6685bc-63c1-436c-a374-ce8a247482eb",
                    "leftValue": "={{$json.doc_type==='place'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "place"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "816e49ad-f8e7-46e3-9253-ccc954d63cba",
                    "leftValue": "={{$json.doc_type==='noise'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noise"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "69d0bee6-dc80-4d27-ab66-b0f94c99683d",
      "name": "Switch_Doc_Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1920,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa2ca210-9fa9-4abd-a6b5-5dddd28816a8",
              "name": "extract_schema_id",
              "value": "={{$json.doc_type}}",
              "type": "string"
            },
            {
              "id": "5c0993de-942b-4417-87a6-ddb7acbc9b15",
              "name": "require_evidence_text",
              "value": "={{true}}",
              "type": "boolean"
            },
            {
              "id": "60bce4ed-2c92-43ce-a27e-0a3e9894232a",
              "name": "schema_json",
              "value": "={{({assignment:['course','deadline','required_submission','action_items','evidence_text'],receipt:['amount','merchant','payment_date','evidence_text'],scholarship:['institution','date_range','required_submission','deadline','evidence_text'],notice:['deadline','institution','action_items','evidence_text'],place:['address','url','date_range','evidence_text']})[$json.doc_type]}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "be684b4d-61a7-48b7-9748-38ff8174593a",
      "name": "Build_Extract_Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a7187cd-4241-41e5-a188-aed0de87f04f",
              "name": "capture_record",
              "value": "={{Object.assign({},$json,{doc_type:'noise',needs_review:true,no_answer:true})}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "131bc9fe-502e-4f27-be67-1fc04f854da0",
      "name": "Build_Noise_Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        608
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_IE_URL || 'https://api.upstage.ai/v1/information-extraction'}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,layout_blocks:$json.layout_blocks||[],extract_schema_id:$json.extract_schema_id,schema_json:$json.schema_json,require_evidence_text:true})}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        }
      },
      "id": "f9b9a0e9-f8f6-4adb-b4a8-5865f2d80c63",
      "name": "Upstage_Information_Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Upstage IE 실제 응답: { extracted_fields: { field: { value, confidence, evidence_text } } }\nconst ef = $json.extracted_fields || {};\n\n// 모든 evidence_text 중 가장 긴 것을 대표 근거로 사용\nconst allEvidence = Object.values(ef)\n  .map(f => f?.evidence_text || '')\n  .filter(Boolean)\n  .sort((a, b) => b.length - a.length);\n\n// 전체 confidence 평균\nconst confidences = Object.values(ef).map(f => f?.confidence ?? 1).filter(v => v > 0);\nconst extract_confidence = confidences.length\n  ? confidences.reduce((s, v) => s + v, 0) / confidences.length : 0;\n\nreturn [{ json: {\n  ...$json,\n  deadline:        ef.deadline?.value        || ef.event_date?.value  || null,\n  amount:          ef.amount?.value          || ef.price?.value       || null,\n  title:           ef.title?.value           || $json.title           || null,\n  required_submission: ef.required_submission?.value\n    ? (Array.isArray(ef.required_submission.value)\n        ? ef.required_submission.value\n        : [ef.required_submission.value])\n    : [],\n  evidence_text:   allEvidence[0]            || null,\n  extract_confidence,\n}, binary: $binary }];"
      },
      "id": "flatten-ie-response-0002",
      "name": "Flatten_IE_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc744760-3067-4d20-baa0-4554dd2cb92c",
              "leftValue": "={{!!$json.error || Number($json.extract_confidence ?? 1) < 0.4}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4c65d1e-ea0f-407b-814b-688408a5694c",
      "name": "Check_Extract_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{...$json,capture_record:{...$json,deadline:$json.deadline||null,amount:$json.amount||null,evidence_text:$json.evidence_text||null,needs_review:!!$json.needs_review}},binary:$binary}];"
      },
      "id": "0957b781-c1c4-4250-bef7-6b16d2a7160f",
      "name": "Normalize_Validate_Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r=$json.capture_record||$json;return[{json:{...$json,risk_card:{capture_id:r.capture_id,title:r.title||r.doc_type,doc_type:r.doc_type,deadline:r.deadline,amount:r.amount,required_submission:r.required_submission||[],source_image_path:r.source_image_path,evidence_text:r.evidence_text,needs_review:!!r.needs_review}}}];"
      },
      "id": "fdb3a906-cfba-4725-b258-fc75daafa92d",
      "name": "Build_Risk_Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{$json.capture_hash + '.json'}}"
        }
      },
      "id": "408d73da-49ac-417e-a1e9-c2a5b7e4c3dd",
      "name": "Convert_Record_To_File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{'C:/Users/dietj/Desktop/n8n_해커톤/Odi-Duji/data/data/odiduji_index/' + $json.capture_hash + '.json'}}",
        "options": {}
      },
      "id": "acd1d137-f4af-41c3-a3e6-3946292e0f5f",
      "name": "Store_Capture_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const risk_cards=items.map(i=>i.json.risk_card||i.json.capture_record||i.json);return[{json:{response:{status:'success',indexed_count:risk_cards.length,risk_cards}}}];"
      },
      "id": "3df1a98b-d5a4-4a46-87cc-9639c05fd47d",
      "name": "Finalize_Index_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/query",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "471fbaf5-bec1-4394-9cf5-c27374318860",
      "name": "Webhook_Query_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        1152
      ],
      "retryOnFail": false,
      "webhookId": "251fa7a2-ef61-4660-80be-b36ba05e5ec4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efaf10da-17ce-49a3-a9f8-f1705d8023d3",
              "leftValue": "={{String($json.raw_query || $json.body?.raw_query || '').length >= 2}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f0019a5-7555-465a-8376-d624a0428496",
      "name": "Validate_Query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6240,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/dietj/.n8n-files/golden_dataset.json",
        "options": {}
      },
      "id": "1f70c3f5-efb9-4ce2-b128-ff088c8042dc",
      "name": "Read_Index_Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6000,
        1152
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "json"
      },
      "id": "54229417-9d45-49f5-8b67-0a2683557db9",
      "name": "Extract_Index_JSON",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -5760,
        1152
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n    model: \"solar-pro\",\n    response_format: { type: \"json_object\" },\n    messages: [\n      {\n        role: \"system\",\n        content: `You are a query planner. Given a user's natural language query, return a JSON object with this exact structure:\n  {\n    \"query_intent\": \"string (e.g. 'find_deadline', 'find_amount', 'find_assignment')\",\n    \"filters\": {\n      \"doc_type\": \"string or null (one of: assignment, receipt, scholarship, notice, place, null)\",\n      \"date_range\": { \"start\": \"YYYY-MM-DD or null\", \"end\": \"YYYY-MM-DD or null\" },\n      \"keywords\": [\"array of keywords extracted from query\"]\n    },\n    \"sort_by\": \"deadline or amount or uploaded_at (default: deadline)\",\n    \"limit\": 5\n  }\n  Return ONLY valid JSON, no explanation.`\n      },\n      {\n        role: \"user\",\n        content: $json.raw_query || $json.body?.raw_query\n      }\n    ]\n  })}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        }
      },
      "id": "4a98efe0-535e-4bf4-a38c-b0253740ea76",
      "name": "Solar_Query_Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5520,
        1152
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: empty response', query_intent: null } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: JSON parse failed: ' + e.message, query_intent: null } }];\n}\n// 파싱 결과를 query_plan + 최상위 필드 모두 노출\nreturn [{ json: { ...$json, query_plan: parsed, ...parsed } }];"
      },
      "id": "parse-qp-response-0001",
      "name": "Parse_QueryPlanner_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5400,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ef4c11-b6a9-4517-bb81-ad4cd1bdbb29",
              "leftValue": "={{!!$json.error || !($json.query_intent || $json.query_plan?.query_intent)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4acb381f-d8b4-4cad-8f22-ab32c3df530e",
      "name": "Check_QueryPlanner_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5280,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const queryPlan = $json.query_plan || $json;\nconst intent = queryPlan.query_intent || '';\nconst filters = queryPlan.filters || {};\nconst sortBy = queryPlan.sort_by || 'deadline';\nconst limit = queryPlan.limit || 5;\n\n// golden_dataset 구조: 배열이 items 안에 각 item.json으로 들어옴\n// 각 item은 { image_id, file_name, metadata: {...}, evidence_text: {...} }\nconst allRecords = items.map(i => {\n  const raw = i.json;\n  const meta = raw.metadata || {};\n  const ev = raw.evidence_text || {};\n  // evidence_text(object)를 검색용 string으로 병합\n  const evidenceStr = Object.values(ev).filter(Boolean).join(' ');\n  return {\n    capture_id:   raw.image_id,\n    file_name:    raw.file_name,\n    doc_type:     meta.doc_type,\n    title:        meta.title,\n    deadline:     meta.deadline,\n    amount:       meta.amount,\n    evidence_text: evidenceStr,\n    evidence_obj:  ev,\n    source:       meta.source,\n    location_name: meta.location_name,\n    confidence:   meta.confidence,\n    needs_review: meta.confidence < 0.8,\n  };\n}).filter(r => r.evidence_text && r.doc_type !== 'noise');\n\n// 필터링\nconst filtered = allRecords.filter(r => {\n  if (filters.doc_type && r.doc_type !== filters.doc_type) return false;\n  if (filters.date_range?.start || filters.date_range?.end) {\n    const deadline = r.deadline ? new Date(r.deadline) : null;\n    if (!deadline) return false;\n    if (filters.date_range.start && deadline < new Date(filters.date_range.start)) return false;\n    if (filters.date_range.end   && deadline > new Date(filters.date_range.end))   return false;\n  }\n  if (filters.keywords?.length) {\n    const text = [r.evidence_text, r.title, r.doc_type, r.source].join(' ').toLowerCase();\n    return filters.keywords.some(k => text.includes(k.toLowerCase()));\n  }\n  return true;\n});\n\n// 정렬\nfiltered.sort((a, b) => {\n  if (sortBy === 'deadline') return (a.deadline || '9999') < (b.deadline || '9999') ? -1 : 1;\n  if (sortBy === 'amount')   return (Number(b.amount) || 0) - (Number(a.amount) || 0);\n  return 0;\n});\n\nconst candidates = filtered.slice(0, limit);\nreturn [{ json: { ...$json, candidate_results: candidates } }];"
      },
      "id": "7de0e5c9-b132-47bf-92d5-ea5f576b3751",
      "name": "Search_Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5040,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d7f462-a7af-421e-91ea-04f40949c1f2",
              "leftValue": "={{($json.candidate_results||[]).length > 0 && ($json.candidate_results||[]).some(c=>!!c.evidence_text)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1cd5100-007d-4ec1-80ea-1dadf7bc0aad",
      "name": "If_Candidates_Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4800,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16ce0adb-8c08-41ad-a4bc-785b1f9e791d",
              "name": "response",
              "value": "={{ {status:'no_answer',message:'확인된 근거 문장이 없어 답변하지 않습니다.',cards:[]} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "0e03c37e-8f67-4ec0-9c96-12fa0315e540",
      "name": "Build_No_Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        1328
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n  model: \"solar-pro\",\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content: `You are an evidence-based answer generator. Given a user query and candidate records, return a JSON object with this exact structure:\n{\n  \"answer\": \"string (brief natural language answer in Korean)\",\n  \"cited_fields\": [\"array of field names used as evidence\"],\n  \"cards\": [\n    {\n      \"capture_id\": \"string\",\n      \"doc_type\": \"string\",\n      \"deadline\": \"YYYY-MM-DD or null\",\n      \"submission\": \"string or null\",\n      \"evidence_text\": \"string (exact quote from the record that answers the query)\",\n      \"confidence\": 0.0~1.0,\n      \"original_image_url\": \"string or null\"\n    }\n  ],\n  \"no_answer\": false\n}\nOnly include cards where evidence_text directly answers the query.\nIf no card qualifies, return no_answer: true and empty cards array.\nReturn ONLY valid JSON, no explanation.`\n    },\n    {\n      role: \"user\",\n      content: `Query: ${$json.raw_query || $json.body?.raw_query}\n\nCandidates:\n${JSON.stringify($json.candidate_results, null, 2)}`\n    }\n  ]\n})}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        }
      },
      "id": "82b17965-ceab-4ab9-86f0-b4a77f2f3e6c",
      "name": "Solar_Evidence_Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4560,
        1152
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: empty response', answer: null, cards: [], cited_fields: [] } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: JSON parse failed: ' + e.message, answer: null, cards: [], cited_fields: [] } }];\n}\n// answer, cards, cited_fields 등을 최상위 + answer_plan 양쪽 노출\nreturn [{ json: { ...$json, answer_plan: parsed, ...parsed } }];"
      },
      "id": "parse-ea-response-0002",
      "name": "Parse_EvidenceAnswer_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fca73e88-f655-41b0-be22-b38bbb2cef92",
              "leftValue": "={{!!$json.error || (!$json.answer && !($json.cards||[]).length)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bd3d46a7-acde-444b-b62b-b831481e255d",
      "name": "Check_Answer_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{response:{status:'success',answer:$json.answer||$json.text||null,cards:$json.cards||$json.candidate_results||[],no_answer:false}}}];"
      },
      "id": "944cb46e-505d-40c9-9ef6-b7cf60d89173",
      "name": "Build_Result_Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.response || $json}}",
        "options": {}
      },
      "id": "1e4d5555-2339-4f70-adcf-c4b22fa625b8",
      "name": "Respond_Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        480
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9b8bcb2-6051-478c-9f03-4e5c26287356",
              "name": "responseCode",
              "value": "={{$json.responseCode || ($json.error ? 500 : 400)}}",
              "type": "number"
            },
            {
              "id": "a37215c5-8a95-49f5-9ac7-e49bfc087e95",
              "name": "error_response",
              "value": "={{ {status:'error',error_code:$json.error_code || $json.validation_error || 'WORKFLOW_ERROR',message:$json.message || $json.error?.message || '요청 처리 중 오류가 발생했습니다.',recovery_action:'원본 캡처 확인 또는 재업로드'} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "09cb567d-137b-4a2d-ba69-38b06fd8dd43",
      "name": "Build_Error_Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        848
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.error_response || $json}}",
        "options": {}
      },
      "id": "201b77c6-d92d-4eea-8d1b-965d35ee6881",
      "name": "Respond_Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        848
      ],
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_Upload_Trigger": {
      "main": [
        [
          {
            "node": "Explode_Binary_Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode_Binary_Files": {
      "main": [
        [
          {
            "node": "Prepare_Capture_Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Capture_Metadata": {
      "main": [
        [
          {
            "node": "Validate_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_File": {
      "main": [
        [
          {
            "node": "Switch_Ext",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Ext": {
      "main": [
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Images": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_In_Batches": {
      "main": [
        [
          {
            "node": "Save_Source_Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize_Index_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Source_Image": {
      "main": [
        [
          {
            "node": "Set_Source_Image_Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute_Capture_Hash": {
      "main": [
        [
          {
            "node": "Lookup_Cache_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_Cache_Record": {
      "main": [
        [
          {
            "node": "If_Cache_Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Cache_Hit": {
      "main": [
        [
          {
            "node": "Use_Cache_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use_Cache_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Parse": {
      "main": [
        [
          {
            "node": "Map_Parse_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Parse_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Classify": {
      "main": [
        [
          {
            "node": "Check_Classify_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Classify_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard_DocType_Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard_DocType_Keywords": {
      "main": [
        [
          {
            "node": "Switch_Doc_Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Doc_Type": {
      "main": [
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Extract_Request": {
      "main": [
        [
          {
            "node": "Upstage_Information_Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Noise_Record": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Information_Extract": {
      "main": [
        [
          {
            "node": "Flatten_IE_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Extract_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Validate_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Validate_Fields": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Risk_Card": {
      "main": [
        [
          {
            "node": "Convert_Record_To_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert_Record_To_File": {
      "main": [
        [
          {
            "node": "Store_Capture_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store_Capture_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize_Index_Response": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Query_Trigger": {
      "main": [
        [
          {
            "node": "Validate_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_Query": {
      "main": [
        [
          {
            "node": "Read_Index_Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_Index_Files": {
      "main": [
        [
          {
            "node": "Extract_Index_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Index_JSON": {
      "main": [
        [
          {
            "node": "Solar_Query_Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Query_Planner": {
      "main": [
        [
          {
            "node": "Parse_QueryPlanner_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_QueryPlanner_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search_Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_Candidates": {
      "main": [
        [
          {
            "node": "If_Candidates_Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Candidates_Exist": {
      "main": [
        [
          {
            "node": "Solar_Evidence_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_No_Answer": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Evidence_Answer": {
      "main": [
        [
          {
            "node": "Parse_EvidenceAnswer_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Answer_Error": {
      "main": [
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Result_Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Result_Cards": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Error_Response": {
      "main": [
        [
          {
            "node": "Respond_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_QueryPlanner_Response": {
      "main": [
        [
          {
            "node": "Check_QueryPlanner_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_EvidenceAnswer_Response": {
      "main": [
        [
          {
            "node": "Check_Answer_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Parse_Response": {
      "main": [
        [
          {
            "node": "Check_Parse_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten_IE_Response": {
      "main": [
        [
          {
            "node": "Check_Extract_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Source_Image_Path": {
      "main": [
        [
          {
            "node": "Compute_Capture_Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7314d49d-e704-48c7-a820-15946ab687c6",
  "meta": {
    "instanceId": "9576b0113f5fd13c3f4e899d76b79de4e463b9b4c57c844a64c0201fb5785452"
  },
  "id": "ClP5frNpBCVQDhs0",
  "tags": []
}