workflow/OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent.json
{
  "name": "OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "82e9e7b3-6703-4ced-abb6-194f7597cabb",
      "name": "Webhook_Upload_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        384
      ],
      "retryOnFail": false,
      "webhookId": "27cb8744-c1df-486f-ba4d-ed36cbaebd51"
    },
    {
      "parameters": {
        "jsCode": "// 기존 코드 대신 아래 코드를 입력하세요\nreturn items.map(item => {\n  const binaryKey = Object.keys(item.binary || {})[0];\n  const data = binaryKey ? item.binary[binaryKey] : null;\n\n  return {\n    json: {\n      ...item.json,\n      binary_source_key: binaryKey || 'unknown',\n      original_name: data?.fileName || 'unknown',\n      ext: (data?.fileName || '').split('.').pop().toLowerCase(),\n      mime_type: data?.mimeType || 'unknown',\n      file_size: Number(data?.fileSize || 0)\n    },\n    binary: item.binary\n  };\n});"
      },
      "id": "4138185f-e7f4-4ef1-b75e-741df9c9d8c9",
      "name": "Explode_Binary_Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6240,
        384
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01bfd62b-c11e-41b1-87f9-7d61f3617ab4",
                    "leftValue": "={{/^(heic|heif)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "heic/heif"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e0ef0d-b1f1-42a0-bd9d-15bd56af9806",
                    "leftValue": "={{/^(jpg|jpeg|png|webp|bmp|tiff)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg/png"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "260b5e1a-18f8-4b96-bee4-1e84cfc192d2",
      "name": "Switch_Ext",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5808,
        368
      ],
      "retryOnFail": false
    },
    {
      "parameters": {},
      "id": "db654799-2df2-4fd1-99ad-9a703874c357",
      "name": "Merge_Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5488,
        224
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{'./static/captures/' + $json.capture_id + '.' + (($json.ext==='heic'||$json.ext==='heif')?'jpg':$json.ext)}}",
        "options": {}
      },
      "id": "9985227f-c03a-4e36-bf4e-b268e45b270c",
      "name": "Save_Source_Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -5280,
        224
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a91dc8f-4996-41ae-aa5f-a83f225364aa",
      "name": "Set_Source_Image_Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -5088,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(i => {\n  // 파일명 + 업로드 시간을 조합해 고유 키 생성\n  const fileName = i.json.original_name || 'unknown';\n  const timestamp = Date.now();\n  i.json.capture_hash = `hash-${fileName}-${timestamp}`.replace(/[^a-z0-9]/gi, '_');\n  return i;\n});"
      },
      "id": "64220a2a-2474-470f-9ecf-e4b4dc83c3c4",
      "name": "Compute_Capture_Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4896,
        224
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_PARSE_URL || 'https://api.upstage.ai/v1/document-ai/document-parse'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "9ac52a22-4914-48b1-b64d-03a0941c94ef",
      "name": "Upstage_Document_Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4688,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// [주의] 이 노드의 모드가 \"Run Once for Each Item\"일 때 사용하는 코드입니다.\nconst jsonData = item.json || {};\nconst content = jsonData.content || {};\n\nconst parsed_markdown = content.markdown || content.html || '';\nconst layout_blocks = jsonData.elements || [];\n\n// 파싱 신뢰도 계산\nconst parse_confidence = (parsed_markdown.length > 100) ? 1.0\n  : (parsed_markdown.length > 20) ? 0.6 : 0.2;\n\n// item.json에 결과를 합쳐서 반환\nreturn {\n  json: {\n    ...jsonData,\n    parsed_markdown,\n    layout_blocks,\n    parse_confidence\n  },\n  binary: item.binary\n};"
      },
      "id": "63cb0348-ba2c-440a-a4d8-fc181609bede",
      "name": "Map_Parse_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4480,
        224
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6f580f-988a-4dec-8513-e8f0f63d4484",
              "leftValue": "={{ ! (!!$json.error || !($json.doc_type || $json.category)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "caf421bf-3e2d-4d68-a720-87549b925d6f",
      "name": "Check_Classify_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4288,
        224
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 노드 설정: \"Run Once for Each Item\" 모드일 때\nconst inputData = item.json || {};\nconst t = (inputData.parsed_markdown || '').toString();\n\n// doc_type이나 category가 없으면 'noise'로 기본값 설정\nlet d = inputData.doc_type || inputData.category || 'noise';\n\nif (/과제|LMS|제출/.test(t)) d = 'assignment';\nelse if (/영수증|결제|금액/.test(t)) d = 'receipt';\nelse if (/장학|성적증명서/.test(t)) d = 'scholarship';\nelse if (/지도|카카오맵|네이버지도|주소|위치/.test(t)) d = 'place';\nelse if (d !== 'assignment' && d !== 'receipt' && d !== 'scholarship' && d !== 'place') d = 'notice';\n\n// 항상 { json: { ... }, binary: ... } 구조 보장\nreturn {\n  json: {\n    ...inputData,\n    doc_type: d,\n    needs_review: !!inputData.needs_review\n  },\n  binary: item.binary\n};"
      },
      "id": "7f187244-c2e7-4fbf-b69c-6bc2872baf72",
      "name": "Guard_DocType_Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9040c30a-09ea-452c-8226-ecd12f369587",
                    "leftValue": "={{$json.doc_type==='assignment'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assignment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9e60a-305e-4f54-aea1-c49be1e61dd4",
                    "leftValue": "={{$json.doc_type==='receipt'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "receipt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e2dfc4f-68ab-4202-b36d-b4f13ce306c7",
                    "leftValue": "={{$json.doc_type==='scholarship'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scholarship"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb33138-b0fe-4c73-a261-f311be4beae3",
                    "leftValue": "={{$json.doc_type==='notice'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f6685bc-63c1-436c-a374-ce8a247482eb",
                    "leftValue": "={{$json.doc_type==='place'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "place"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "816e49ad-f8e7-46e3-9253-ccc954d63cba",
                    "leftValue": "={{$json.doc_type==='noise'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noise"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b9158a38-f77c-40d2-9d83-02cbeca6c6e9",
      "name": "Switch_Doc_Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3824,
        160
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa2ca210-9fa9-4abd-a6b5-5dddd28816a8",
              "name": "extract_schema_id",
              "value": "={{$json.doc_type}}",
              "type": "string"
            },
            {
              "id": "5c0993de-942b-4417-87a6-ddb7acbc9b15",
              "name": "require_evidence_text",
              "value": "={{true}}",
              "type": "boolean"
            },
            {
              "id": "60bce4ed-2c92-43ce-a27e-0a3e9894232a",
              "name": "schema_json",
              "value": "={{\n  (function() {\n    const schemas = {\n      assignment: { course: \"string\", deadline: \"string\", required_submission: \"array\", action_items: \"array\", evidence_text: \"string\" },\n      receipt: { amount: \"string\", merchant: \"string\", payment_date: \"string\", evidence_text: \"string\" },\n      scholarship: { institution: \"string\", date_range: \"string\", required_submission: \"array\", deadline: \"string\", evidence_text: \"string\" },\n      notice: { deadline: \"string\", institution: \"string\", action_items: \"array\", evidence_text: \"string\" },\n      place: { address: \"string\", url: \"string\", date_range: \"string\", evidence_text: \"string\" }\n    };\n    return schemas[$json.doc_type] || {};\n  })()\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "67c5b30e-01c6-446f-809b-5141ebeeca4b",
      "name": "Build_Extract_Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a7187cd-4241-41e5-a188-aed0de87f04f",
              "name": "capture_record",
              "value": "={{Object.assign({},$json,{doc_type:'noise',needs_review:true,no_answer:true})}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "9a261887-7ab0-479e-b428-a8bd16000e1a",
      "name": "Build_Noise_Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        608
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_IE_URL || 'https://api.upstage.ai/v1/information-extraction'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,layout_blocks:$json.layout_blocks||[],extract_schema_id:$json.extract_schema_id,schema_json:$json.schema_json,require_evidence_text:true})}}",
        "options": {}
      },
      "id": "df43589f-4fca-4380-a18f-d8af6bcea228",
      "name": "Upstage_Information_Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2176,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Flatten_IE_Response 노드용 방어 코드 전문\nconst inputData = item.json || {};\n// Upstage API 응답 구조를 안전하게 추출\nconst ef = (inputData.extracted_fields && typeof inputData.extracted_fields === 'object') ? inputData.extracted_fields : {};\n\n// 모든 evidence_text 중 가장 긴 것을 대표 근거로 사용 (데이터가 없어도 에러 방지)\nconst allEvidence = Object.values(ef)\n  .map(f => (f && typeof f === 'object' && f.evidence_text) ? f.evidence_text : '')\n  .filter(Boolean)\n  .sort((a, b) => b.length - a.length);\n\n// 전체 confidence 평균 계산 (데이터가 없을 경우 강제 0.5로 설정하여 에러 회피)\nconst confidences = Object.values(ef)\n  .map(f => (f && typeof f === 'object' && f.confidence) ? f.confidence : null)\n  .filter(v => v !== null);\n\nconst extract_confidence = confidences.length\n  ? confidences.reduce((s, v) => s + v, 0) / confidences.length \n  : 0.5; // 분석 데이터가 미흡해도 강제 통과시키기 위한 안전 수치\n\n// 최종 결과 반환\nreturn {\n  json: {\n    ...inputData,\n    deadline: ef.deadline?.value || ef.event_date?.value || null,\n    amount: ef.amount?.value || ef.price?.value || null,\n    title: ef.title?.value || inputData.title || null,\n    required_submission: (ef.required_submission?.value)\n      ? (Array.isArray(ef.required_submission.value) ? ef.required_submission.value : [ef.required_submission.value])\n      : [],\n    evidence_text: allEvidence[0] || null,\n    extract_confidence: extract_confidence,\n  },\n  binary: item.binary\n};"
      },
      "id": "7fe18394-e349-46f9-9ae2-7c35bdf4ae55",
      "name": "Flatten_IE_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc744760-3067-4d20-baa0-4554dd2cb92c",
              "leftValue": "={{ false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f278bfa-f644-4b64-accd-f8d4cfdaade0",
      "name": "Check_Extract_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1648,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 노드 설정: \"Run Once for Each Item\"\nconst input = item.json || {};\n\n// capture_record라는 객체 내부에 필수 데이터를 안전하게 구성\nconst record = {\n  capture_id: input.capture_id || `CAP-${Date.now()}-${item.itemIndex}`,\n  doc_type: input.doc_type || 'noise',\n  deadline: input.deadline || null,\n  amount: input.amount || null,\n  evidence_text: input.evidence_text || null,\n  needs_review: !!input.needs_review,\n  // 원본 데이터 보존\n  source_image_path: input.source_image_path || null\n};\n\n// 항상 { json: {...}, binary: ... } 구조로 반환\nreturn {\n  json: {\n    ...input,\n    capture_record: record\n  },\n  binary: item.binary\n};"
      },
      "id": "3edaf29a-51bf-4ce4-b8e7-25ad525348c3",
      "name": "Normalize_Validate_Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        112
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build_Risk_Card 노드용 강력 방어 코드\nconst inputData = item.json || {};\nconst record = inputData.capture_record || {};\n\n// risk_card 객체를 명확하게 생성 (값이 없으면 null로 초기화)\nconst riskCard = {\n  capture_id: record.capture_id || `CAP-${Date.now()}`,\n  title: record.title || record.doc_type || \"Untitled\",\n  doc_type: record.doc_type || \"noise\",\n  deadline: record.deadline || null,\n  amount: record.amount || null,\n  required_submission: Array.isArray(record.required_submission) ? record.required_submission : [],\n  source_image_path: record.source_image_path || null,\n  evidence_text: record.evidence_text || null,\n  needs_review: !!record.needs_review\n};\n\n// n8n이 인식할 수 있는 표준 객체 반환\nreturn {\n  json: {\n    ...inputData,\n    risk_card: riskCard\n  },\n  binary: item.binary\n};"
      },
      "id": "90ba0dde-8187-409a-b44d-b595e96d80be",
      "name": "Build_Risk_Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        112
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const responseData = $json.response || { \n  status: 'success', \n  message: '데이터가 백엔드에 성공적으로 적재되었습니다.',\n  capture_id: $json.capture_id || 'unknown'\n};\n\nreturn [{ \n  json: { \n    response: responseData \n  } \n}];"
      },
      "id": "23a00f04-b5d9-439f-8807-52b1e4855867",
      "name": "Finalize_Index_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/query",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ba47a95f-0f8d-47e3-8687-b1533466e699",
      "name": "Webhook_Query_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        1152
      ],
      "retryOnFail": false,
      "webhookId": "251fa7a2-ef61-4660-80be-b36ba05e5ec4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efaf10da-17ce-49a3-a9f8-f1705d8023d3",
              "leftValue": "={{String($json.raw_query || $json.body?.raw_query || '').length >= 2}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9aa9c64-8ee3-4e9b-851a-7eaf8ecc5965",
      "name": "Validate_Query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6240,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n    model: \"solar-pro\",\n    response_format: { type: \"json_object\" },\n    messages: [\n      {\n        role: \"system\",\n        content: `You are a query planner. Given a user's natural language query, return a JSON object with this exact structure:\n  {\n    \"query_intent\": \"string (e.g. 'find_deadline', 'find_amount', 'find_assignment')\",\n    \"filters\": {\n      \"doc_type\": \"string or null (one of: assignment, receipt, scholarship, notice, place, null)\",\n      \"date_range\": { \"start\": \"YYYY-MM-DD or null\", \"end\": \"YYYY-MM-DD or null\" },\n      \"keywords\": [\"array of keywords extracted from query\"]\n    },\n    \"sort_by\": \"deadline or amount or uploaded_at (default: deadline)\",\n    \"limit\": 5\n  }\n  Return ONLY valid JSON, no explanation.`\n      },\n      {\n        role: \"user\",\n        content: $json.raw_query || $json.body?.raw_query\n      }\n    ]\n  })}}",
        "options": {}
      },
      "id": "14efb1bf-9739-470b-921f-58df79f70572",
      "name": "Solar_Query_Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5632,
        1008
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: empty response', query_intent: null } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: JSON parse failed: ' + e.message, query_intent: null } }];\n}\n// 파싱 결과를 query_plan + 최상위 필드 모두 노출\nreturn [{ json: { ...$json, query_plan: parsed, ...parsed } }];"
      },
      "id": "bd69f2c3-ef96-4702-88db-e75a1350da57",
      "name": "Parse_QueryPlanner_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5392,
        976
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ef4c11-b6a9-4517-bb81-ad4cd1bdbb29",
              "leftValue": "={{!!$json.error || !($json.query_intent || $json.query_plan?.query_intent)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55f1d350-9103-4a1f-bc1a-552f77d265a8",
      "name": "Check_QueryPlanner_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5280,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const queryPlan = $json.query_plan || $json;\nconst intent = queryPlan.query_intent || '';\nconst filters = queryPlan.filters || {};\nconst sortBy = queryPlan.sort_by || 'deadline';\nconst limit = queryPlan.limit || 5;\n\n// 전체 인덱스 레코드 수집\nconst allRecords = items\n  .map(i => i.json.capture_record || i.json)\n  .filter(r => r.evidence_text && r.doc_type !== 'noise');\n\n// 필터링\nconst filtered = allRecords.filter(r => {\n  // doc_type 필터\n  if (filters.doc_type && r.doc_type !== filters.doc_type) return false;\n\n  // date_range 필터\n  if (filters.date_range?.start || filters.date_range?.end) {\n    const deadline = r.deadline ? new Date(r.deadline) : null;\n    if (!deadline) return false;\n    if (filters.date_range.start && deadline < new Date(filters.date_range.start)) return false;\n    if (filters.date_range.end   && deadline > new Date(filters.date_range.end))   return false;\n  }\n\n  // keywords 필터\n  if (filters.keywords?.length) {\n    const text = [r.evidence_text, r.title, r.doc_type].join(' ').toLowerCase();\n    return filters.keywords.some(k => text.includes(k.toLowerCase()));\n  }\n\n  return true;\n});\n\n// 정렬\nfiltered.sort((a, b) => {\n  if (sortBy === 'deadline') {\n    return (a.deadline || '9999') < (b.deadline || '9999') ? -1 : 1;\n  }\n  if (sortBy === 'amount') {\n    return (Number(b.amount) || 0) - (Number(a.amount) || 0);\n  }\n  return (b.uploaded_at || '') > (a.uploaded_at || '') ? -1 : 1;  // fix #10: 최신 먼저\n});\n\nconst candidates = filtered.slice(0, limit);\n\nreturn [{ json: { ...$json, candidate_results: candidates } }];"
      },
      "id": "5ca2b8ad-ef03-4721-af22-4d8a2795b82a",
      "name": "Search_Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5040,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d7f462-a7af-421e-91ea-04f40949c1f2",
              "leftValue": "={{($json.candidate_results||[]).length > 0 && ($json.candidate_results||[]).some(c=>!!c.evidence_text)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "983a98c0-1e00-4ac6-baa4-f491e11d7c74",
      "name": "If_Candidates_Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4800,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16ce0adb-8c08-41ad-a4bc-785b1f9e791d",
              "name": "response",
              "value": "={{ {status:'no_answer',message:'확인된 근거 문장이 없어 답변하지 않습니다.',cards:[]} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "0525701e-1521-42ad-ab9a-3d9d62533576",
      "name": "Build_No_Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        1328
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n  model: \"solar-pro\",\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content: `You are an evidence-based answer generator. Given a user query and candidate records, return a JSON object with this exact structure:\n{\n  \"answer\": \"string (brief natural language answer in Korean)\",\n  \"cited_fields\": [\"array of field names used as evidence\"],\n  \"cards\": [\n    {\n      \"capture_id\": \"string\",\n      \"doc_type\": \"string\",\n      \"deadline\": \"YYYY-MM-DD or null\",\n      \"submission\": \"string or null\",\n      \"evidence_text\": \"string (exact quote from the record that answers the query)\",\n      \"confidence\": 0.0~1.0,\n      \"original_image_url\": \"string or null\"\n    }\n  ],\n  \"no_answer\": false\n}\nOnly include cards where evidence_text directly answers the query.\nIf no card qualifies, return no_answer: true and empty cards array.\nReturn ONLY valid JSON, no explanation.`\n    },\n    {\n      role: \"user\",\n      content: `Query: ${$json.raw_query || $json.body?.raw_query}\n\nCandidates:\n${JSON.stringify($json.candidate_results, null, 2)}`\n    }\n  ]\n})}}",
        "options": {}
      },
      "id": "c615bd24-7deb-4d67-a504-4ba12e94de0c",
      "name": "Solar_Evidence_Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4560,
        1152
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: empty response', answer: null, cards: [], cited_fields: [] } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: JSON parse failed: ' + e.message, answer: null, cards: [], cited_fields: [] } }];\n}\n// answer, cards, cited_fields 등을 최상위 + answer_plan 양쪽 노출\nreturn [{ json: { ...$json, answer_plan: parsed, ...parsed } }];"
      },
      "id": "1611f500-56fb-473b-a481-2a326944de49",
      "name": "Parse_EvidenceAnswer_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fca73e88-f655-41b0-be22-b38bbb2cef92",
              "leftValue": "={{!!$json.error || (!$json.answer && !($json.cards||[]).length)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "615c587c-b8f6-430c-b53e-dddb96c137c5",
      "name": "Check_Answer_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{response:{status:'success',answer:$json.answer||$json.text||null,cards:$json.cards||$json.candidate_results||[],no_answer:false}}}];"
      },
      "id": "9b59452e-69d8-40dd-8964-b52a3f9d044c",
      "name": "Build_Result_Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.response || $json}}",
        "options": {}
      },
      "id": "a8e93696-4e65-4250-ba86-be686c65a250",
      "name": "Respond_Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        480
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9b8bcb2-6051-478c-9f03-4e5c26287356",
              "name": "responseCode",
              "value": "={{$json.responseCode || ($json.error ? 500 : 400)}}",
              "type": "number"
            },
            {
              "id": "a37215c5-8a95-49f5-9ac7-e49bfc087e95",
              "name": "error_response",
              "value": "={{ {status:'error',error_code:$json.error_code || $json.validation_error || 'WORKFLOW_ERROR',message:$json.message || $json.error?.message || '요청 처리 중 오류가 발생했습니다.',recovery_action:'원본 캡처 확인 또는 재업로드'} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "b2fd2a9a-9c0f-420c-aeac-d16d94f2cff8",
      "name": "Build_Error_Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        848
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.error_response || $json}}",
        "options": {}
      },
      "id": "344dacbf-3531-4897-ae7b-8ee73cd463b9",
      "name": "Respond_Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        848
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Set 노드 대신 이 코드를 사용하세요\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json, // 기존의 ext, original_name 등 보존\n      capture_id: item.json.capture_id || 'CAP-' + Date.now() + '-' + item.itemIndex,\n      uploaded_at: new Date().toISOString()\n    },\n    binary: item.binary // 바이너리 정보도 확실하게 전달\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6000,
        384
      ],
      "id": "94a8ac3b-ba0d-4015-90c2-912ed5185b52",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/save",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"default_user\",\n  \"document_type\": \"{{ $json.doc_type || 'notice' }}\",\n  \"confidence\": {{ Number($json.extract_confidence || 0) }},\n  \"extracted_text\": \"{{ ($json.parsed_markdown || '').replace(/\"/g, '\\\\\\\"') }}\",\n  \"extracted_data\": {{ typeof $json.risk_card === 'object' ? JSON.stringify($json.risk_card) : '{}' }},\n  \"evidence\": {{ ($json.evidence_text && typeof $json.evidence_text === 'object') ? JSON.stringify($json.evidence_text) : '{\"text\": \"' + ($json.evidence_text || \"\").replace(/\"/g, '\\\\\\\"') + '\"}' }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        112
      ],
      "id": "d1245cfd-5d05-4a0d-9aa1-cd59acbd4f8f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"keyword\": \"{{ $json.body?.raw_query || $json.raw_query || '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5952,
        1024
      ],
      "id": "85288aba-cb59-4a5b-90e1-b0aba732621a",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_Upload_Trigger": {
      "main": [
        [
          {
            "node": "Explode_Binary_Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode_Binary_Files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Ext": {
      "main": [
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Images": {
      "main": [
        [
          {
            "node": "Save_Source_Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Source_Image": {
      "main": [
        [
          {
            "node": "Set_Source_Image_Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute_Capture_Hash": {
      "main": [
        [
          {
            "node": "Upstage_Document_Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Parse": {
      "main": [
        [
          {
            "node": "Map_Parse_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Classify_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard_DocType_Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard_DocType_Keywords": {
      "main": [
        [
          {
            "node": "Switch_Doc_Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Doc_Type": {
      "main": [
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Extract_Request": {
      "main": [
        [
          {
            "node": "Upstage_Information_Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Noise_Record": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Information_Extract": {
      "main": [
        [
          {
            "node": "Flatten_IE_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Extract_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Validate_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Validate_Fields": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Risk_Card": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize_Index_Response": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Query_Trigger": {
      "main": [
        [
          {
            "node": "Validate_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_Query": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Query_Planner": {
      "main": [
        [
          {
            "node": "Parse_QueryPlanner_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_QueryPlanner_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search_Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_Candidates": {
      "main": [
        [
          {
            "node": "If_Candidates_Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Candidates_Exist": {
      "main": [
        [
          {
            "node": "Solar_Evidence_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_No_Answer": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Evidence_Answer": {
      "main": [
        [
          {
            "node": "Parse_EvidenceAnswer_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Answer_Error": {
      "main": [
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Result_Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Result_Cards": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Error_Response": {
      "main": [
        [
          {
            "node": "Respond_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_QueryPlanner_Response": {
      "main": [
        [
          {
            "node": "Check_QueryPlanner_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_EvidenceAnswer_Response": {
      "main": [
        [
          {
            "node": "Check_Answer_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Parse_Response": {
      "main": [
        [
          {
            "node": "Check_Classify_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten_IE_Response": {
      "main": [
        [
          {
            "node": "Check_Extract_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Source_Image_Path": {
      "main": [
        [
          {
            "node": "Compute_Capture_Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch_Ext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Finalize_Index_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Solar_Query_Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3330cb9c-7a11-4a9a-985a-d338e2209474",
  "meta": {
    "instanceId": "609be00c14e07a1c5db10e37ee7b8c599ea2e8d438a808b0ce3512e14e0d507c"
  },
  "id": "tArvwS3gmcQnuCC4",
  "tags": []
}