workflow/OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent.json
{
  "name": "OdidujI_LOCOMOCO_Capture_Loss_Risk_Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "9af168d0-2e95-47d0-9960-2f7065a87e27",
      "name": "Webhook_Upload_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        240
      ],
      "retryOnFail": false,
      "webhookId": "27cb8744-c1df-486f-ba4d-ed36cbaebd51"
    },
    {
      "parameters": {
        "jsCode": "return items.flatMap(item=>Object.entries(item.binary||{}).map(([key,data])=>({json:{...item.json,binary_source_key:key,original_name:data.fileName,ext:(data.fileName||'').split('.').pop().toLowerCase(),mime_type:data.mimeType,file_size:Number(data.fileSize||0)},binary:{data}})));"
      },
      "id": "decafb5c-d93e-4da5-b7a0-bbc635ae7771",
      "name": "Explode_Binary_Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6240,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e3b34e9-364f-4db7-922f-650d9693a569",
              "name": "capture_id",
              "value": "={{$json.capture_id || 'CAP-' + Date.now() + '-' + $itemIndex}}",
              "type": "string"
            },
            {
              "id": "8d31b389-32dc-4799-a014-c8ddecb71460",
              "name": "uploaded_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "443dcc21-6b1f-4eaa-a967-c49f2a278220",
      "name": "Prepare_Capture_Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6000,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a21b9f5-fdb2-48ff-a6a1-76b374972cab",
              "leftValue": "={{/^(jpg|jpeg|png|heic|heif|webp|bmp|tiff)$/.test($json.ext)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c68639ff-009b-4c86-8bb9-7917f26fd35f",
      "name": "Validate_File",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5760,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01bfd62b-c11e-41b1-87f9-7d61f3617ab4",
                    "leftValue": "={{/^(heic|heif)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "heic/heif"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7e0ef0d-b1f1-42a0-bd9d-15bd56af9806",
                    "leftValue": "={{/^(jpg|jpeg|png|webp|bmp|tiff)$/.test($json.ext)}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg/png"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "fd836cfb-45af-459a-a482-0d33ef577914",
      "name": "Switch_Ext",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5520,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {},
      "id": "e901a75c-9043-40bf-ad33-5fd90970d622",
      "name": "Merge_Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4560,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "5ceddbb1-2fae-480d-be41-4a87401e1fea",
      "name": "Split_In_Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4320,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{'C:/Users/dietj/.n8n-files/captures/' + $json.capture_id + '.' + (($json.ext==='heic'||$json.ext==='heif')?'jpg':$json.ext)}}",
        "options": {}
      },
      "id": "92439e27-4add-4070-a835-c1f452595bf3",
      "name": "Save_Source_Image",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4080,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "690f57bd-a1b0-4c85-be30-1bbdc34c7d35",
      "name": "Set_Source_Image_Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -3968,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const str = JSON.stringify(items[0].binary?.data || items[0].json);\nlet hash = 0;\nfor (let i = 0; i < str.length; i++) {\n  hash = ((hash << 5) - hash) + str.charCodeAt(i);\n  hash |= 0;\n}\nreturn items.map(i => {\n  i.json.capture_hash = Math.abs(hash).toString(16);\n  return i;\n});"
      },
      "id": "b0296d9a-a612-4ab9-a137-28a99e25de6a",
      "name": "Compute_Capture_Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "fileSelector": "={{'C:/Users/dietj/.n8n-files/odiduji_index/' + $json.capture_hash + '.json'}}",
        "options": {}
      },
      "id": "8261d56e-ab25-4fef-a862-6d9ea26a0952",
      "name": "Lookup_Cache_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -3600,
        240
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ccec15ac-9a91-4ab7-8a66-8ea9d63f6505",
              "leftValue": "={{!!$json.cached_record}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3bda48f0-d25a-457f-bf15-38a5f26c9bae",
      "name": "If_Cache_Hit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3360,
        240
      ],
      "retryOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "json"
      },
      "id": "0dd8cc0f-b269-457d-8ca7-a9fc88de831b",
      "name": "Use_Cache_Record",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3120,
        64
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_PARSE_URL || 'https://api.upstage.ai/v1/document-ai/document-parse'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "5e7d5650-f16f-43b4-a7ad-a5d96367ecea",
      "name": "Upstage_Document_Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Upstage Document Parse 실제 응답: { content: { markdown, html }, elements: [...] }\nconst content = $json.content || {};\nconst parsed_markdown = content.markdown || content.html || '';\nconst layout_blocks   = $json.elements || [];\n// parse_confidence: Upstage API 응답에 confidence 필드 없음 → 마크다운 길이 기반 대체\nconst parse_confidence = (parsed_markdown.length > 100) ? 1.0\n  : (parsed_markdown.length > 20) ? 0.6 : 0.2;\nreturn [{ json: { ...$json, parsed_markdown, layout_blocks, parse_confidence }, binary: $binary }];"
      },
      "id": "45592421-2b03-4cbf-81c9-87130b5701cc",
      "name": "Map_Parse_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b7b7616-485f-4193-903b-a3e2ea64c55c",
              "leftValue": "={{!!$json.error || Number($json.parse_confidence ?? 1) < 0.45}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68b58607-af30-41a0-a0a7-8742f2c1beaf",
      "name": "Check_Parse_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2864,
        64
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_CLASSIFY_URL || 'https://api.upstage.ai/v1/document-ai/document-classify'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,taxonomy:['notice','assignment','scholarship','receipt','place','noise']})}}",
        "options": {}
      },
      "id": "61a92f48-9ccb-4394-a324-336370290d3d",
      "name": "Upstage_Document_Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f6f580f-988a-4dec-8513-e8f0f63d4484",
              "leftValue": "={{!!$json.error || !($json.doc_type || $json.category)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "48c4b431-b628-44df-ab73-37cc2e0c5635",
      "name": "Check_Classify_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2400,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const t=($json.parsed_markdown||'');let d=$json.doc_type||$json.category||'noise';if(/과제|LMS|제출/.test(t))d='assignment';if(/영수증|결제|금액/.test(t))d='receipt';if(/장학|성적증명서/.test(t))d='scholarship';if(/지도|카카오맵|네이버지도|주소|위치/.test(t))d='place';return[{json:{...$json,doc_type:d,needs_review:!!$json.needs_review},binary:$binary}];"
      },
      "id": "f70823e7-7474-4e6a-94f4-c2cd7586240f",
      "name": "Guard_DocType_Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9040c30a-09ea-452c-8226-ecd12f369587",
                    "leftValue": "={{$json.doc_type==='assignment'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assignment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9e60a-305e-4f54-aea1-c49be1e61dd4",
                    "leftValue": "={{$json.doc_type==='receipt'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "receipt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e2dfc4f-68ab-4202-b36d-b4f13ce306c7",
                    "leftValue": "={{$json.doc_type==='scholarship'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scholarship"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb33138-b0fe-4c73-a261-f311be4beae3",
                    "leftValue": "={{$json.doc_type==='notice'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "notice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f6685bc-63c1-436c-a374-ce8a247482eb",
                    "leftValue": "={{$json.doc_type==='place'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "place"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "816e49ad-f8e7-46e3-9253-ccc954d63cba",
                    "leftValue": "={{$json.doc_type==='noise'}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "noise"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d976c021-4dbc-4135-af0b-ff07a46b3914",
      "name": "Switch_Doc_Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1920,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa2ca210-9fa9-4abd-a6b5-5dddd28816a8",
              "name": "extract_schema_id",
              "value": "={{$json.doc_type}}",
              "type": "string"
            },
            {
              "id": "5c0993de-942b-4417-87a6-ddb7acbc9b15",
              "name": "require_evidence_text",
              "value": "={{true}}",
              "type": "boolean"
            },
            {
              "id": "60bce4ed-2c92-43ce-a27e-0a3e9894232a",
              "name": "schema_json",
              "value": "={{({assignment:['course','deadline','required_submission','action_items','evidence_text'],receipt:['amount','merchant','payment_date','evidence_text'],scholarship:['institution','date_range','required_submission','deadline','evidence_text'],notice:['deadline','institution','action_items','evidence_text'],place:['address','url','date_range','evidence_text']})[$json.doc_type]}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "729e9bc2-9d59-413b-9ae4-b6d8ed66ba3d",
      "name": "Build_Extract_Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a7187cd-4241-41e5-a188-aed0de87f04f",
              "name": "capture_record",
              "value": "={{Object.assign({},$json,{doc_type:'noise',needs_review:true,no_answer:true})}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "3d004431-fd2a-43e2-843c-c2c57e05066c",
      "name": "Build_Noise_Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        608
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_IE_URL || 'https://api.upstage.ai/v1/information-extraction'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({parsed_markdown:$json.parsed_markdown,layout_blocks:$json.layout_blocks||[],extract_schema_id:$json.extract_schema_id,schema_json:$json.schema_json,require_evidence_text:true})}}",
        "options": {}
      },
      "id": "3c19ef8b-0cdc-418f-9879-545a670a15cf",
      "name": "Upstage_Information_Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Upstage IE 실제 응답: { extracted_fields: { field: { value, confidence, evidence_text } } }\nconst ef = $json.extracted_fields || {};\n\n// 모든 evidence_text 중 가장 긴 것을 대표 근거로 사용\nconst allEvidence = Object.values(ef)\n  .map(f => f?.evidence_text || '')\n  .filter(Boolean)\n  .sort((a, b) => b.length - a.length);\n\n// 전체 confidence 평균\nconst confidences = Object.values(ef).map(f => f?.confidence ?? 1).filter(v => v > 0);\nconst extract_confidence = confidences.length\n  ? confidences.reduce((s, v) => s + v, 0) / confidences.length : 0;\n\nreturn [{ json: {\n  ...$json,\n  deadline:        ef.deadline?.value        || ef.event_date?.value  || null,\n  amount:          ef.amount?.value          || ef.price?.value       || null,\n  title:           ef.title?.value           || $json.title           || null,\n  required_submission: ef.required_submission?.value\n    ? (Array.isArray(ef.required_submission.value)\n        ? ef.required_submission.value\n        : [ef.required_submission.value])\n    : [],\n  evidence_text:   allEvidence[0]            || null,\n  extract_confidence,\n}, binary: $binary }];"
      },
      "id": "5fbbea1a-1574-4751-b037-1c0e06016d7c",
      "name": "Flatten_IE_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc744760-3067-4d20-baa0-4554dd2cb92c",
              "leftValue": "={{!!$json.error || Number($json.extract_confidence ?? 1) < 0.4}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "119017c4-f6ab-4fdb-833b-5904dd799df6",
      "name": "Check_Extract_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        112
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{...$json,capture_record:{...$json,deadline:$json.deadline||null,amount:$json.amount||null,evidence_text:$json.evidence_text||null,needs_review:!!$json.needs_review}},binary:$binary}];"
      },
      "id": "7eed8286-e315-45b1-8368-230f65dd2165",
      "name": "Normalize_Validate_Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r=$json.capture_record||$json;return[{json:{...$json,risk_card:{capture_id:r.capture_id,title:r.title||r.doc_type,doc_type:r.doc_type,deadline:r.deadline,amount:r.amount,required_submission:r.required_submission||[],source_image_path:r.source_image_path,evidence_text:r.evidence_text,needs_review:!!r.needs_review}}}];"
      },
      "id": "e8071e54-fe88-40b2-b92f-dc6677f87ff5",
      "name": "Build_Risk_Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        240
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{$json.capture_hash + '.json'}}"
        }
      },
      "id": "e2e29ac5-a380-4e30-824a-1acc2de9b724",
      "name": "Convert_Record_To_File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{'C:/Users/dietj/.n8n-files/odiduji_index/' + $json.capture_hash + '.json'}}",
        "options": {}
      },
      "id": "1cd02982-8b36-4e50-8c5b-513be38ccab3",
      "name": "Store_Capture_Record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const risk_cards=items.map(i=>i.json.risk_card||i.json.capture_record||i.json);return[{json:{response:{status:'success',indexed_count:risk_cards.length,risk_cards}}}];"
      },
      "id": "d746dad7-58b2-4b57-af84-d6b120c42dcd",
      "name": "Finalize_Index_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "odiduji/query",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "5a77bb46-28cf-4042-b47c-c31f03783a51",
      "name": "Webhook_Query_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6480,
        1152
      ],
      "retryOnFail": false,
      "webhookId": "251fa7a2-ef61-4660-80be-b36ba05e5ec4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efaf10da-17ce-49a3-a9f8-f1705d8023d3",
              "leftValue": "={{String($json.raw_query || $json.body?.raw_query || '').length >= 2}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "728a3c24-3276-4789-8cbb-aaaec1e809b4",
      "name": "Validate_Query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6240,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/dietj/.n8n-files/golden_dataset.json",
        "options": {}
      },
      "id": "b0de3399-47ea-4841-bdde-6cb203da4761",
      "name": "Read_Index_Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6000,
        1152
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw_query = items[0].json.raw_query \n  || items[0].json.body?.raw_query\n  || $('Validate_Query').first().json.raw_query\n  || $('Validate_Query').first().json.body?.raw_query\n  || '';\n\nconst binaryKey = Object.keys(items[0].binary || {})[0];\nconst binaryData = items[0].binary[binaryKey];\nconst text = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nconst records = JSON.parse(text.replace(/^\\uFEFF/, ''));\n\nif (!Array.isArray(records)) throw new Error('records가 배열이 아닙니다');\n\nreturn [{ json: { raw_query, all_records: records } }];"
      },
      "id": "8727d6c2-d2d3-4d3e-a01f-15136edca5bf",
      "name": "Extract_Index_JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5760,
        1152
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n    model: \"solar-pro\",\n    response_format: { type: \"json_object\" },\n    messages: [\n      {\n        role: \"system\",\n        content: `You are a query planner. Given a user's natural language query, return a JSON object with this exact structure:\n  {\n    \"query_intent\": \"string (e.g. 'find_deadline', 'find_amount', 'find_assignment')\",\n    \"filters\": {\n      \"doc_type\": \"string or null (one of: assignment, receipt, scholarship, notice, place, null)\",\n      \"date_range\": { \"start\": \"YYYY-MM-DD or null\", \"end\": \"YYYY-MM-DD or null\" },\n      \"keywords\": [\"array of keywords extracted from query\"]\n    },\n    \"sort_by\": \"deadline or amount or uploaded_at (default: deadline)\",\n    \"limit\": 5\n  }\n  Return ONLY valid JSON, no explanation.`\n      },\n      {\n        role: \"user\",\n        content: $json.raw_query || $json.body?.raw_query\n      }\n    ]\n  })}}",
        "options": {}
      },
      "id": "bf9b7d09-5101-4b07-b0c9-a6e54ed12778",
      "name": "Solar_Query_Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5520,
        1152
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: empty response', query_intent: null } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Query_Planner: JSON parse failed: ' + e.message, query_intent: null } }];\n}\n// 파싱 결과를 query_plan + 최상위 필드 모두 노출\nreturn [{ json: { ...$json, query_plan: parsed, ...parsed } }];"
      },
      "id": "aff799b0-a28f-4f52-9ee7-e7a698f2151f",
      "name": "Parse_QueryPlanner_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22ef4c11-b6a9-4517-bb81-ad4cd1bdbb29",
              "leftValue": "={{!!$json.error || !($json.query_intent || $json.query_plan?.query_intent)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "466ec28d-681c-4471-96f2-2d45df5bedf3",
      "name": "Check_QueryPlanner_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5280,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "const queryPlan = $json.query_plan || $json;\nconst filters = queryPlan.filters || {};\nconst sortBy = queryPlan.sort_by || 'deadline';\nconst limit = queryPlan.limit || 5;\n\nconst rawRecords = $json.all_records || [];\n\nconst allRecords = rawRecords.map(r => {\n  const meta = r.metadata || {};\n  const ev = r.evidence_text || {};\n  const evidenceStr = Object.values(ev).filter(Boolean).join(' ');\n  return {\n    capture_id:    r.image_id,\n    file_name:     r.file_name,\n    doc_type:      meta.doc_type,\n    title:         meta.title,\n    deadline:      meta.deadline,\n    amount:        meta.amount,\n    evidence_text: evidenceStr,\n    evidence_obj:  ev,\n    source:        meta.source,\n    location_name: meta.location_name,\n    confidence:    meta.confidence,\n    needs_review:  meta.confidence < 0.8,\n  };\n}).filter(r => r.evidence_text && r.doc_type !== 'noise');\n\nconst filtered = allRecords.filter(r => {\n  if (filters.doc_type && r.doc_type !== filters.doc_type) return false;\n  if (filters.date_range?.start || filters.date_range?.end) {\n    const deadline = r.deadline ? new Date(r.deadline) : null;\n    if (!deadline) return false;\n    if (filters.date_range.start && deadline < new Date(filters.date_range.start)) return false;\n    if (filters.date_range.end   && deadline > new Date(filters.date_range.end))   return false;\n  }\n  if (filters.keywords?.length) {\n    const text = [r.evidence_text, r.title, r.doc_type, r.source].join(' ').toLowerCase();\n    return filters.keywords.some(k => text.includes(k.toLowerCase()));\n  }\n  return true;\n});\n\nfiltered.sort((a, b) => {\n  if (sortBy === 'deadline') return (a.deadline || '9999') < (b.deadline || '9999') ? -1 : 1;\n  if (sortBy === 'amount')   return (Number(b.amount) || 0) - (Number(a.amount) || 0);\n  return 0;\n});\n\nreturn [{ json: { ...$json, candidate_results: filtered.slice(0, limit) } }];"
      },
      "id": "76711e44-7357-4975-9a8d-9b98d7d36e8b",
      "name": "Search_Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5040,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59d7f462-a7af-421e-91ea-04f40949c1f2",
              "leftValue": "={{($json.candidate_results||[]).length > 0 && ($json.candidate_results||[]).some(c=>!!c.evidence_text)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "274531c6-15ab-4537-bd5b-e42ba590a1dd",
      "name": "If_Candidates_Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4800,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16ce0adb-8c08-41ad-a4bc-785b1f9e791d",
              "name": "response",
              "value": "={{ {status:'no_answer',message:'확인된 근거 문장이 없어 답변하지 않습니다.',cards:[]} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "e2a81fc1-5f64-4023-a8fd-6cf37f0f9d59",
      "name": "Build_No_Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        1328
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.UPSTAGE_SOLAR_URL || 'https://api.upstage.ai/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.UPSTAGE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({\n  model: \"solar-pro\",\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content: `You are an evidence-based answer generator. Given a user query and candidate records, return a JSON object with this exact structure:\n{\n  \"answer\": \"string (brief natural language answer in Korean)\",\n  \"cited_fields\": [\"array of field names used as evidence\"],\n  \"cards\": [\n    {\n      \"capture_id\": \"string\",\n      \"doc_type\": \"string\",\n      \"deadline\": \"YYYY-MM-DD or null\",\n      \"submission\": \"string or null\",\n      \"evidence_text\": \"string (exact quote from the record that answers the query)\",\n      \"confidence\": 0.0~1.0,\n      \"original_image_url\": \"string or null\"\n    }\n  ],\n  \"no_answer\": false\n}\nOnly include cards where evidence_text directly answers the query.\nIf no card qualifies, return no_answer: true and empty cards array.\nReturn ONLY valid JSON, no explanation.`\n    },\n    {\n      role: \"user\",\n      content: `Query: ${$json.raw_query || $json.body?.raw_query}\n\nCandidates:\n${JSON.stringify($json.candidate_results, null, 2)}`\n    }\n  ]\n})}}",
        "options": {}
      },
      "id": "1ad5877d-c99f-455a-9eaa-e9dc31a27d80",
      "name": "Solar_Evidence_Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4560,
        1152
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Solar는 choices[0].message.content에 JSON 문자열을 반환\nconst raw = $json?.choices?.[0]?.message?.content;\nif (!raw) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: empty response', answer: null, cards: [], cited_fields: [] } }];\n}\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ...$json, error: 'Solar_Evidence_Answer: JSON parse failed: ' + e.message, answer: null, cards: [], cited_fields: [] } }];\n}\n// answer, cards, cited_fields 등을 최상위 + answer_plan 양쪽 노출\nreturn [{ json: { ...$json, answer_plan: parsed, ...parsed } }];"
      },
      "id": "e1fdb580-e093-4757-843e-6af0bfb0b56f",
      "name": "Parse_EvidenceAnswer_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fca73e88-f655-41b0-be22-b38bbb2cef92",
              "leftValue": "={{!!$json.error || (!$json.answer && !($json.cards||[]).length)}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "648b0ec7-d0ba-4ea1-a519-0f355b4fd552",
      "name": "Check_Answer_Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4320,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return[{json:{response:{status:'success',answer:$json.answer||$json.text||null,cards:$json.cards||$json.candidate_results||[],no_answer:false}}}];"
      },
      "id": "d59c6ed0-9c3c-4bd0-b129-71c5025d135a",
      "name": "Build_Result_Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        1152
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.response || $json}}",
        "options": {}
      },
      "id": "bffb7511-2637-4830-8e35-86e83d050aa3",
      "name": "Respond_Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        480
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9b8bcb2-6051-478c-9f03-4e5c26287356",
              "name": "responseCode",
              "value": "={{$json.responseCode || ($json.error ? 500 : 400)}}",
              "type": "number"
            },
            {
              "id": "a37215c5-8a95-49f5-9ac7-e49bfc087e95",
              "name": "error_response",
              "value": "={{ {status:'error',error_code:$json.error_code || $json.validation_error || 'WORKFLOW_ERROR',message:$json.message || $json.error?.message || '요청 처리 중 오류가 발생했습니다.',recovery_action:'원본 캡처 확인 또는 재업로드'} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "39fb443a-b2f2-489b-9de2-3b20008ec862",
      "name": "Build_Error_Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        848
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.error_response || $json}}",
        "options": {}
      },
      "id": "9767ad79-7279-4815-b246-18bc312ba113",
      "name": "Respond_Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        848
      ],
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_Upload_Trigger": {
      "main": [
        [
          {
            "node": "Explode_Binary_Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode_Binary_Files": {
      "main": [
        [
          {
            "node": "Prepare_Capture_Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Capture_Metadata": {
      "main": [
        [
          {
            "node": "Validate_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_File": {
      "main": [
        [
          {
            "node": "Switch_Ext",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Ext": {
      "main": [
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge_Images",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Images": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_In_Batches": {
      "main": [
        [
          {
            "node": "Finalize_Index_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save_Source_Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Source_Image": {
      "main": [
        [
          {
            "node": "Set_Source_Image_Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute_Capture_Hash": {
      "main": [
        [
          {
            "node": "Lookup_Cache_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup_Cache_Record": {
      "main": [
        [
          {
            "node": "If_Cache_Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Cache_Hit": {
      "main": [
        [
          {
            "node": "Use_Cache_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use_Cache_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Parse": {
      "main": [
        [
          {
            "node": "Map_Parse_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Parse_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upstage_Document_Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Document_Classify": {
      "main": [
        [
          {
            "node": "Check_Classify_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Classify_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guard_DocType_Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard_DocType_Keywords": {
      "main": [
        [
          {
            "node": "Switch_Doc_Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Doc_Type": {
      "main": [
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Extract_Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Noise_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Extract_Request": {
      "main": [
        [
          {
            "node": "Upstage_Information_Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Noise_Record": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage_Information_Extract": {
      "main": [
        [
          {
            "node": "Flatten_IE_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Extract_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize_Validate_Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize_Validate_Fields": {
      "main": [
        [
          {
            "node": "Build_Risk_Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Risk_Card": {
      "main": [
        [
          {
            "node": "Convert_Record_To_File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert_Record_To_File": {
      "main": [
        [
          {
            "node": "Store_Capture_Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store_Capture_Record": {
      "main": [
        [
          {
            "node": "Split_In_Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize_Index_Response": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_Query_Trigger": {
      "main": [
        [
          {
            "node": "Validate_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate_Query": {
      "main": [
        [
          {
            "node": "Read_Index_Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_Index_Files": {
      "main": [
        [
          {
            "node": "Extract_Index_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Index_JSON": {
      "main": [
        [
          {
            "node": "Solar_Query_Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Query_Planner": {
      "main": [
        [
          {
            "node": "Parse_QueryPlanner_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_QueryPlanner_Error": {
      "main": [
        [
          {
            "node": "Build_Error_Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search_Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search_Candidates": {
      "main": [
        [
          {
            "node": "If_Candidates_Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Candidates_Exist": {
      "main": [
        [
          {
            "node": "Solar_Evidence_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_No_Answer": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar_Evidence_Answer": {
      "main": [
        [
          {
            "node": "Parse_EvidenceAnswer_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Answer_Error": {
      "main": [
        [
          {
            "node": "Build_No_Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build_Result_Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Result_Cards": {
      "main": [
        [
          {
            "node": "Respond_Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Error_Response": {
      "main": [
        [
          {
            "node": "Respond_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_QueryPlanner_Response": {
      "main": [
        [
          {
            "node": "Check_QueryPlanner_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_EvidenceAnswer_Response": {
      "main": [
        [
          {
            "node": "Check_Answer_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Parse_Response": {
      "main": [
        [
          {
            "node": "Check_Parse_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten_IE_Response": {
      "main": [
        [
          {
            "node": "Check_Extract_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Source_Image_Path": {
      "main": [
        [
          {
            "node": "Compute_Capture_Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2778efea-b1d6-4b40-9428-a79b2ff9e19e",
  "meta": {
    "instanceId": "9576b0113f5fd13c3f4e899d76b79de4e463b9b4c57c844a64c0201fb5785452"
  },
  "id": "0GK7ghw0mWJNWJ1s",
  "tags": []
}